.no-h1 h1 {
    display: none;
}

.no-img-margin img {
    margin: 0;
}

.grid {
    display: inline-block;
    height: 400px;
    width: 220px;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 2em;
}

.grid h3 {
    margin-bottom: 1em;
}

.grid img {
    margin-bottom: 1em;
}
