img.no-margin {
    margin: 0;
}

.grid {
    display: inline-block;
    height: 400px;
    width: 220px;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 2em;
    vertical-align: top;
}

.grid h3 {
    margin-bottom: 1em;
}

.grid img {
    margin-bottom: 1em;
}

#site-navigation button.menu-toggle {
    background: none;
    margin: 0;
}

#masthead .site-branding {
    padding: 20px 2em;
}

#masthead .site-branding .left {
    float: left;
}

#masthead .site-branding .right {
    float: right;
}

#masthead .site-branding:after {
    content: ' ';
    display: table;
    width: 0;
    height: 0;
    clear: both;
}

p.more {
    display: none;
}

footer.site-footer {
    padding: 0 40px;
    height: 80px;
    font-family: "Roboto", san-serif;
    font-weight: normal;
    text-transform: none;
    letter-spacing: normal;
}

footer.site-footer:after {
    display: table;
    content: '';
    width: 0;
    height: 0;
    clear: both;
}

footer.site-footer > div {
    line-height: 80px;
    font-size: 14px;
}

footer.site-footer .pull-left {
    float: left;
}

footer.site-footer .pull-right {
    float: right;
}

footer.site-footer a, footer.site-footer a:visited {
    color: #fff;
    text-decoration: none;
    font-weight: normal;
    text-transform: none;
}
