img.no-margin {
    margin: 0;
}

.grid {
    display: inline-block;
    height: 400px;
    width: 220px;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 2em;
    vertical-align: top;
}

.grid h3 {
    margin-bottom: 1em;
}

.grid img {
    margin-bottom: 1em;
}

#site-navigation button.menu-toggle {
    background: none;
    margin: 0;
}

#masthead .site-branding {
    background-size: 100% auto;
}
