body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f0f0f0;
}

.clear {
    clear: both;
}

h3 {
    font-weight: normal;
}

input[type="button"], input[type="submit"] {
    background: #0779BE;
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    padding: 5px 10px;
}

.header, .content {
    padding: 20px 32px;
    margin: 0 50px;
    background: #fff;
}

.header {
    border-bottom: 10px solid #0779BE;
}

.header .pull-left{
    float: left;
}

.header .pull-right {
    float: right;
}

.content h1 {
    font-weight: normal;
}

.forms {
    border: 1px solid #DDDDDD;
    padding: 0 20px;
}

.forms form.region-row {
    display: block;
    margin: 20px 0;
}

.forms form.region-row span.big-bold {
    display: block;
    float: left;
    width: 70px;
    font-size: 22px;
    vertical-align: middle;
}

.forms form.region-row select {
    margin-right: 10px;
}

.forms form.region-row select.regionID {
    width: 260px;
}

.results h3 {
    margin: 40px 0 10px
}

.results table tbody tr td {
    padding-right: 10px;
}

.results input[type="button"] {
    margin-top: 10px;
}

h3.faq {
    margin-top: 40px;
}

.footer {
    background: #0779BE;
    color: #fff;
    margin: 0 50px;
    padding: 0 40px;
    font-size: 14px;
    line-height: 80px;
}

.footer a, .footer a:visited {
    color: #fff;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

.footer .pull-right {
    float: right;
}

.method {
    float: right;
    margin: 0 60px 15px 0;
}